# Laravel backend
reservia/backend/vendor/
reservia/backend/.env
reservia/backend/storage/logs/*.log
reservia/backend/storage/framework/cache/
reservia/backend/storage/framework/sessions/
reservia/backend/storage/framework/views/
reservia/backend/bootstrap/cache/

# React frontend
reservia/frontend/node_modules/
reservia/frontend/dist/
reservia/frontend/.vercel/

# Divers
.DS_Store
Thumbs.db
*.local
